@charset "utf8";

/*exportando fontes do google fontes*/
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
/*exportando fontes do google fontes*/


/*exportando um arquivo de fonte*/
@font-face{
   font-family: 'fontelogo';
   src: url("../_fonts/bubblegum-sans-regular.otf");
}
/*exportando um arquivo de fonte*/

/*formatando todos os "p"  "a" (paragrafos e links  do body universalmente) */
p 
{
   text-align:justify;
   text-indent:50px;
}

a{
   text-decoration: none;
}

body{
   background-color: #dddd;
   color: rgba(0, 0, 0, 1);
   font-family: Arial, sans-serif;
}

/*formatando todos os "p"  "a" (paragrafos e links  do body universalmente) */

/*essa div seria o plano onde todo conteudo do site esta dentro*/
div#interface{
   width: 1000px;
   background-color: #fafafa;
   margin: -20px auto 0px auto;
   box-shadow: 0px 0px 10px gray;
   padding: 10px;
}
/*essa div seria o plano onde todo conteudo do site esta dentro*/

/*dentro desse header inclui uma imagem como plano de fundo, usei o "no-repeat" para que ela nao se
repita ate completar todo o espaço do header*/
header#cabecalho{
   border-bottom:1px #606060 solid ;
   height: 150px;
   background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 80px;
}
/*dentro desse header inclui uma imagem como plano de fundo, usei o "no-repeat" para que ela nao se
repita ate completar todo o espaço do header*/

/*toda a configuração de fontes referente ao primeiro cabeçalho da pagina,
o cabeçalho logo abaixo do menu de navegação*/
header#cabecalho h1{
   font-family: 'fontelogo';
   font-size: 30pt;
   color: #606060;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
   padding: 0px;
   margin-bottom: 0px;
   margin-top: 50px;
}

header#cabecalho h2{
   font-family: 'Shippori Mincho', serif;
   font-size: 15pt;
   color: #888888;
   padding: 0px;
   margin-top: 0px;

}

header#cabecalho img#icone{
   position: absolute;
  left: 1000px ;
   top: 60px;
}
/*toda a configuração de fontes referente ao primeiro cabeçalho da pagina,
o cabeçalho logo abaixo do menu de navegação*/


/*formatando o menu de navegação*/
nav#menu ul{
   list-style: none;
   text-transform: uppercase;
   display:block;
   position: absolute;
   top:-20px;
   left: 300px;
}

nav#menu li{
   display: inline-block;
   padding: 10px;
   background-color: #dddddd;
   margin: 2px;
   transition: background-color 1s;


}

nav#menu li:hover{
   background-color: #606060;
}

nav#menu h1{

   display: none;
}

nav#menu a{
   text-decoration: none;
   color: #000000;
}

nav#menu a:hover{
   color: #ffff;
}
/*formatando o menu de navegação*/

/*formatando o conteudo lateral da esquerda, chamado de sessao ou section*/
section#corpo{
   display: block;
   width: 550px;
   padding-right: 15px;
   float: left;
   border-right: 1px solid #606060;
}
/*formatando o conteudo lateral da esquerda, chamado de sessao ou section*/

/*foi criado esse artigo (article) dentro do conteudo ao lado esquerdo, essa vai ser sua formatação*/
article#noticia-principal h2{
   font-size: 15pt;
   color: #606060;
   background-color: #dddddd;
   padding: 5px 0px 5px 10px;
   margin: 10px 0px 10px 0px;

}

header#cabecalho-artigo h1{
  font-family: 'fontelogo', sans-serif;
  font-size: 20pt;
  color: #606060;
  margin-bottom: 0px;

}

header#cabecalho-artigo h2{
    font-size: 13pt;
    color: #cecece;
    background-color: #fafafa;
    margin: 0px;
   
}

header#cabecalho-artigo h3{
     font-size: 12px;
     color: #606060;
   
}
/*foi criado esse artigo (article) dentro do conteudo ao lado esquerdo, essa vai ser sua formatação*/


/*classe generica pra alinhar tudo para a direita*/
.direita{
   text-align: right;
}
/*classe generica pra alinhar tudo para a direita*/



/* formatação de imagens com legenda      */
figure.foto-legenda img{

   width: 100%;
   height: 100%;
}

figure.foto-legenda { 
   position:relative;
   border: 8px solid white;
   box-shadow: 1px 1px 4px black;
   
   
}

figure.foto-legenda figcaption p{
   font-size: 20px;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);

}

figure.foto-legenda figcaption{

   position:absolute ;
   opacity:0;
   top:0px;
   background-color:rgba(0, 0, 0, 0.4);
   color: white;
   width: 100%;
   height: 100%;
   padding: 10px;
   box-sizing: border-box;
   transition:opacity 1s;
}


figure.foto-legenda:hover figcaption{

   opacity:1;
}
/* formatação de imagens com legenda      */

/*formatando tabela*/
table#tabelaspec{
   border: 1px solid #606060;
   border-spacing: 0px;
   margin-left: auto;
   margin-right: auto;
}

table#tabelaspec td{
   border: 1px solid #606060;
}

table#tabelaspec td.ce{
   color: #fafafa;
   background: #606060;
   vertical-align: top;
   font-weight: bold;
   
}
table#tabelaspec caption{
   color: #888888;
   font-size: 13pt;
   font-weight: bold;
}
table#tabelaspec span{
   font-size: 10pt;
   display: block;
   float: right;
   margin-top: 5px;
   color: #000000;
}

table#tabelaspec td.cd{
   background: #cecece;
}
/*formatando tabela*/

/*formatando a pagina lateral chamada de aside*/
aside#lateral{
   display: block;
   width: 400px;
   float: right;
   padding: 10px;
  background-color: #dddddd;
  margin-top: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

aside#lateral h1{
   font-family: 'fontelogo', sans-serif;
   font-size: 20pt;
   color: #606060;
   margin-top: 0px;
}
aside#lateral h2{
   font-size: 15pt;
   background-color: #606060;
   color: #fafafa;
   padding: 5px;
}
/*formatando a pagina lateral chamada de aside*/


/*formatando o rodapé */
footer#rodape{
   clear: both;
   border-top: 1px solid #606060;
} /*  both: Elemento é empurrado para baixo de elementos com float left ou right;*/

footer#rodape p{
   text-align: center;
}

footer#rodape a{
   text-decoration: none;
   transition: 1s;
}

footer#rodape a:hover{
   background-color: #888888;
   color: #fafafa;
}

