@charset "utf8";

/*exportando fontes do google fontes*/
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

/*exportando um arquivo de fonte*/
@font-face:{
   font-family: 'fontelogo';
   src: ulr(../__fonts/bubblegum-sans-regular);
}
/*exportando um arquivo de fonte*/

/*formatando todos os "p" (paragrafos do body universalmente) */
p 
{
   text-align:justify;
   text-indent:50px;
}

a{
   text-decoration: none;
}
/*formatando todos os "p" (paragrafos do body universalmente) */

header#cabecalho img#icone{
   position: absolute;
  left: 1000px ;
   top: 60px;
}

header#cabecalho{
   border-bottom:1px #606060 solid ;
   height: 150px;
   background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 80px;
}

header#cabecalho h1{
   font-family: 'fontelogo';
   font-size: 30pt;
   color: #606060;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
   padding: 0px;
   margin-bottom: 0px;
   margin-top: 50px;
}

header#cabecalho h2{
   font-family: 'Shippori Mincho', serif;
   font-size: 15pt;
   color: #888888;
   padding: 0px;
   margin-top: 0px;

}

body{
   background-color: #dddd;
   color: rgba(0, 0, 0, 1);
   font-family: Arial, sans-serif;
}

/*formatando tabela*/

table#tabelaspec{
   border: 1px solid #606060;
   border-spacing: 0px;
   margin-left: auto;
   margin-right: auto;
}

table#tabelaspec td{
   border: 1px solid #606060;
}

table#tabelaspec td.ce{
   color: #fafafa;
   background: #606060;
   vertical-align: top;
   font-weight: bold;
   
}
table#tabelaspec caption{
   color: #888888;
   font-size: 13pt;
   font-weight: bold;
}
table#tabelaspec span{
   font-size: 10pt;
   display: block;
   float: right;
   margin-top: 5px;
   color: #000000;
}

table#tabelaspec td.cd{
   background: #cecece;
}
/*formatando tabela*/

 div#interface{
    width: 1000px;
    background-color: #fafafa;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px gray;
    padding: 10px;
 }

/* formatação de imagens com legenda      */

figure.foto-legenda { 
   position:relative;
   border: 8px solid white;
   box-shadow: 1px 1px 4px black;
   
   
}

figure.foto-legenda img{

   width: 100%;
   height: 100%;
}

figure.foto-legenda figcaption{

   position:absolute ;
   opacity:0;
   top:0px;
   background-color:rgba(0, 0, 0, 0.4);
   color: white;
   width: 100%;
   height: 100%;
   padding: 10px;
   box-sizing: border-box;
   transition:opacity 1s;
}


figure.foto-legenda:hover figcaption{

   opacity:1;
}
/* formatação de imagens com legenda      */


/*formatação do menu*/

nav#menu ul{
   list-style: none;
   text-transform: uppercase;
   display:block;
   position: absolute;
   top:-20px;
   left: 300px;
}

nav#menu li{
   display: inline-block;
   padding: 10px;
   background-color: #dddddd;
   margin: 2px;
   transition: background-color 1s;


}

nav#menu li:hover{
   background-color: #606060;
}

nav#menu h1{

   display: none;
}

nav#menu a{
   text-decoration: none;
   color: #000000;
}

nav#menu a:hover{
   color: #ffff;
}
/*formatação do menu*/

/*configurando o corpo do site, usando menus flutuantes*/

section#principal{
   display: block;
   width: 550px;
   padding: 10px;
   float: left;
   border-right: 1px solid #606060;
}
 /* formatando as fontes da pagina pelo header de subtitulos e titulos*/


 header#noticia-principal h2{
   font-family: 'fontelogo';
   color: #606060;
   background: #cecece;
   margin: 10px -10px 10px -20px;
   
                           }
/*formatando um novo header, criado para ser o cabeçalho das noticias*/
.direita{
   text-align: right;
}
header#cabecalho-artigo h1{
      font-family: 'fontelogo' , sans-serif;
      color: #606060;
      font-size: 20pt;
      margin-top: 0px;
      margin-bottom: 0px;
}
header#cabecalho-artigo h2{
   font-size: 13pt;
   color: #888888;
   

}
header#cabecalho-artigo h3{
   
   font-size: 12px;
   color: #000000;

}


aside#lateral{
   display: block;
   width: 350px;
   float: left;
   padding: 10px;

}
/*  both: Elemento é empurrado para baixo de elementos com float left ou right;*/
footer#rodape{
   clear: both;
   border-top: 1px solid #606060;
}

footer#rodape p{
   text-align: center;
}

footer#rodape a{
   text-decoration: none;
   transition: 1s;
}

footer#rodape a:hover{
   background-color: #888888;
   color: #fafafa;
}

